@font-face {
    font-family: "Ubuntu Mono Regular";
    src: url(UbuntuMono-Regular.ttf);
}

*{
    font-family: "Ubuntu Mono Regular", monospace;
    margin: 0;
    padding: 0;
}

body{
    background-color: #d2648b;
}

main{
    align-content: center;
    background-color: #333245;
    height: 100vh;
    margin-left: 20vh;
    margin-right: 20vh;
    text-align: center;
}

h1{
    color: #ffbf00;
    font-size: 35px;
    margin: 10px;
}

#number-input{
    background-color: black;
    color: #66ff00;
    text-shadow: 0 0 3px #0dff00bb;
    border-radius: 7px;
    font-size: 35px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    width: 80px;
}

#number-input::placeholder{
    text-shadow: none;
}

#number-input[readonly="true"]{
    color: #0cf;
    text-shadow: 0 0 7px #009dff9d;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
}

#input-button{
    background-color: #655c93;
    border-color: #1b1b27;
    color: #ffbf00;
    border-radius: 5px;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    width: 170px;
}

#input-button:hover{
    background-color: #1b1b27;
    border-color: #09090c;
    cursor: pointer;
}

#input-button:disabled{
    background-color: #707179;
    border-color: #232326;
    color: #beb69d
}

#input-button:disabled:hover{
    cursor: default;
}

p{
    font-size: 30px;
    margin: 10px;
}

#res{
    color: #ff493c;
    text-shadow: 0 0 3px #ff1100bd;
    visibility: hidden;
}

#guess-counter{
    color: #ffbf00;
    visibility: hidden;
}